<div class="container">
<%# <div class="home-banner">
     <h1>Mister Cocktail</h1>
  <p>
    <span id="banner-typed-text"></span>
  </p>
</div> %>
<div class="card-container">
  <% @cocktails.each do |cocktail| %>
    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://source.unsplash.com/400x300/?cocktail,drinks" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= cocktail.name %></h5>
        <p class="card-text"></p>
        <p class="btn btn-success"><%= link_to "Learn more", cocktail_path(cocktail) %></p>
      </div>
     </div>
  <% end %>
  </div>
    </div>
  </div>
</div>

