<div class="container">
<%# <div class="home-banner">
     <h1>Mister Cocktail</h1>
  <p>
    <span id="banner-typed-text"></span>
  </p>
</div> %>
<div class="card-container">
  <% @cocktails.each do |cocktail| %>
    <div class="card" style="width: 18rem;">
    <% if cocktail.photo.attached? %>
      <% cocktail_img = cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill %>
    <% else %>
     <%  cocktail_img = "https://source.unsplash.com/200x200/?cocktail,#{cocktail.name}" %>
    <% end %>
    <img class="card-img-top" src="<%= cocktail_img %>" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= cocktail.name %></h5>
        <p class="card-text"></p>
        <p class="btn btn-success"><%= link_to "Learn more", cocktail_path(cocktail) %></p>
      </div>
     </div>
  <% end %>
  </div>
    </div>
  </div>
</div>

